<!-- erbstart app/views/linkedin_field_of_studies/edit.html.erb -->
<h1>Editing Linkedin Field Of Study</h1>

<%= render 'form', linkedin_field_of_study: @linkedin_field_of_study %>

<%= link_to 'Show', @linkedin_field_of_study %> |
<%= link_to 'Back', linkedin_field_of_studies_path %>
<!-- erbend app/views/linkedin_field_of_studies/edit.html.erb -->
