<!-- erbstart app/views/linkedin_field_of_studies/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @linkedin_field_of_study.name %>
</p>

<%= link_to 'Edit', edit_linkedin_field_of_study_path(@linkedin_field_of_study) %> |
<%= link_to 'Back', linkedin_field_of_studies_path %>
<!-- erbend app/views/linkedin_field_of_studies/show.html.erb -->
