<!-- erbstart app/views/job_types/new.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>New Job Type</h1>

<%= render 'form', job_type: @job_type %>

<%= link_to 'Back', job_types_path %>

</div>

<!-- erbend app/views/job_types/new.html.erb -->
