@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
	.cqdNeY{
		padding: 15px !important;
		text-align: center;
	}
	.ccgjPX {
	    font-size: 36px !important;
	    line-height: 34px !important;
	}
	.kWWbmA {
	    padding: 15px !important;
	}
}
.cardImg{
	margin:auto;
}