<% if @note.valid? %>
  $('.js-notes').prepend("<%= escape_javascript(render(@note)) %>");
  $('.new-note').html("<%= escape_javascript(render partial: 'notes/form', locals: { person: @person, note: @new_note, user: current_user, body: body }) %>");
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
  $('.new-note').html("<%= escape_javascript(render partial: 'notes/form', locals: { person: @person, note: @note, user: current_user }) %>");
<% end %>
