<!-- erbstart app/views/notes/edit.html.erb -->
<div class="space-90"></div>
<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Show', @note %> |
<%= link_to 'Back', notes_path %>
<!-- erbend app/views/notes/edit.html.erb -->
