<!-- erbstart app/views/notes/new.html.erb -->
<div class="space-90"></div>
<h1>New Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Back', notes_path %>
<!-- erbend app/views/notes/new.html.erb -->
