<!-- erbstart app/views/notes/show.html.erb -->
<div class="space-90"></div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
<!-- erbend app/views/notes/show.html.erb -->
