<!-- erbstart app/views/linkedin_schools/edit.html.erb -->
<h1>Editing Linkedin School</h1>

<%= render 'form', linkedin_school: @linkedin_school %>

<%= link_to 'Show', @linkedin_school %> |
<%= link_to 'Back', linkedin_schools_path %>
<!-- erbend app/views/linkedin_schools/edit.html.erb -->
