<!-- erbstart app/views/linkedin_schools/new.html.erb -->
<h1>New Linkedin School</h1>

<%= render 'form', linkedin_school: @linkedin_school %>

<%= link_to 'Back', linkedin_schools_path %>
<!-- erbend app/views/linkedin_schools/new.html.erb -->
