<!-- erbstart app/views/tag_relationships/edit.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>Editing Tag Relationship</h1>

<%= render 'form', tag_relationship: @tag_relationship %>

<%= link_to 'Show', @tag_relationship %> |
<%= link_to 'Back', tag_relationships_path %>
</div>

<!-- erbend app/views/tag_relationships/edit.html.erb -->
