<!-- erbstart app/views/tag_relationships/show.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<%= link_to 'Edit', edit_tag_relationship_path(@tag_relationship) %> |
<%= link_to 'Back', tag_relationships_path %>

</div>

<!-- erbend app/views/tag_relationships/show.html.erb -->
