<!-- erbstart app/views/unsubs/unsubs.html.erb -->
  <div class="space-90"></div>

<div class="row" style="text-align: center; padding-bottom: 20px; padding-top: 30px;">
  <b style="display:inline-block; font-size:20px;"> Unsubscribed </b>
</div>

<div class="row" style="text-align:center;">
  <%= image_tag("big_bird.png") %>
</div>


<div class="row" style="text-align: center; padding-top:30px;">
  <p style="display:inline-block;"> You are Successfully Unsubscribed from our <br> Mailing Services. <br> Click <a href="https://cardinalhire.com"> here </a> to visit our home page </p>
</div>
<!-- erbend app/views/unsubs/unsubs.html.erb -->
