<!-- erbstart app/views/posts/show/_contact_user.html.erb -->
<div class="contact-user">
  <%= render leave_message_partial_path %>
</div><!-- contact-user -->
<!-- erbend app/views/posts/show/_contact_user.html.erb -->
