<!-- erbstart app/views/posts/show/_login_required.html.erb -->
<div class="text-center">
  To contact the user you have to <%= link_to 'Login', login_path %> 
</div>
<!-- erbend app/views/posts/show/_login_required.html.erb -->
