@import '../../../../styles/var';

.text {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333030;
    margin-bottom: 15px;
}
