<!-- erbstart app/views/messengers/private_conversation/_new_message_form.html.erb -->
<form class="send-private-message">
  <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
  <input name="user_id" type="hidden" value="<%= user.id %>">
  <textarea name="body" rows="2" class="form-control" placeholder="Type a message..."></textarea>
  <input type="submit" class="btn btn-success send-message">
</form>
<!-- erbend app/views/messengers/private_conversation/_new_message_form.html.erb -->
