<!-- erbstart app/views/posts/branch/create_new_post/_not_signed_in.html.erb -->
<div class="text-center login-branch">
  To create a new post you have to 
  <%= link_to	'Login', 
              login_path, 
              class: 'login-button login-button-branch' %>
</div>
<!-- erbend app/views/posts/branch/create_new_post/_not_signed_in.html.erb -->
