<!-- erbstart app/views/posts/branch/create_new_post/_signed_in.html.erb -->
<div class="new-post-button-parent">
  <span>Cannot find anyone? Try to: </span>
  <%= link_to "Create a new post", 
              new_post_path(branch: branch), 
              :class => "new-post-button" %>
</div>
<!-- erbend app/views/posts/branch/create_new_post/_signed_in.html.erb -->
