<!-- erbstart app/views/posts/branch/categories/_all_not_selected.html.erb -->
<li class="category-item">
  <%= link_to "All", send(branch_path_name) %>
</li>
<!-- erbend app/views/posts/branch/categories/_all_not_selected.html.erb -->
