<!-- erbstart app/views/posts/branch/categories/_all_selected.html.erb -->
<li class="category-item">
  <%= link_to "All", 
              send(branch_path_name), 
              :class => "selected-item"  %>
</li>
<!-- erbend app/views/posts/branch/categories/_all_selected.html.erb -->
