<!-- erbstart app/views/secure/index.html.erb -->
<div>
  <section class="hero-content container clearfix">
    <div class="logo-container">
      <div class="logo">
        <%= image_tag('Asset 1.png') %>
      </div>
    </div>
    <h1 class="hero-title">CardinalTalent.com</h1>
    <h2 class="hero-title">Coming Soon</h1>
  </section>
  <section class="container clearfix">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://cardinalhire.crelate.com/portal?iframe=true"/>
    </div>
  </section>
</div>
<!-- erbend app/views/secure/index.html.erb -->
