<!-- erbstart app/views/group/messages/message/_same_user_content.html.erb -->
<div class="message-time hidden-item"><%= message.created_at.to_s(:time) %></div> 
<p class="message-content">
  <%= message.content %>
</p>
<!-- erbend app/views/group/messages/message/_same_user_content.html.erb -->
