@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
	.make-main{
		display:block !important;
		margin:0px;
	}
	.krrUpf {
	    font-size: 30px !important;
	    line-height: 32px !important;
	    margin-bottom:10px !important;
	}
	.make-details{
		padding:15px;
		text-align:center;
	}
	.pr-0{
		padding-right:15px !important;
	}
	.kCNIPV{
		margin-bottom:25px !important;
	}
	.bNbtEy{
		margin-top:15px !important;
	}
	.how-it-details{
		padding-bottom:25px !important;
	}
	.UdwtH{
		margin-top: 45px !important;
	}
	.gzJpeC{
		text-align:center !important;
	}
	.position-relative{
		text-align:center;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 575px){
	.hnTOZU{
		left:52px !important;
	}	
	.how-it-info{
		max-width: 351px !important;
	}
}
@media only screen and (min-device-width : 576px) and (max-device-width : 767px){
	.how-it-info{
		max-width:275px !important;
	}
	.hnTOZU{
		left:15px !important;
	}	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1049px){
	.how-it-info{
		max-width:350px !important;
	}
	.make-main{
		margin:0px !important;
	}
	.kCNIPV{
		margin-bottom:25px !important;
	}
	.bNbtEy{
		margin-top:15px !important;
	}
	.how-it-details{
		padding-bottom:25px !important;
	}
	.UdwtH{
		margin-top: 45px !important;
	}
	.gzJpeC{
		text-align:center !important;
	}
	.position-relative{
		text-align:center;
	}
	.hnTOZU{
		left:50px !important;
	}
	.krrUpf {
	    font-size: 28px !important;
	}
}
@media only screen and (min-device-width : 1049px) and (max-device-width : 1350px){
	.position-relative{
		text-align:center;
	}
	.how-it-info{
		max-width:455px !important;
	}
	.hnTOZU{
		left:105px !important;
	}
	.make-main{
		margin:0px !important;
	}
	.kCNIPV{
		margin-bottom:25px !important;
	}
	.bNbtEy{
		margin-top:15px !important;
	}
	.how-it-details{
		padding-bottom:25px !important;
	}
	.UdwtH{
		margin-top: 45px !important;
	}
	.gzJpeC{
		text-align:center !important;
	}
}
.position-relative img{
	width:auto !important;
	max-width:100% !important;
	height:auto !important;
}
.make-main{
		margin:0px !important;
	}