<!-- erbstart app/views/entries/edit.html.erb -->
<h1>Editing Entry</h1>

<%= render 'form', entry: @entry %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
<!-- erbend app/views/entries/edit.html.erb -->
