<!-- erbstart app/views/entries/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
<!-- erbend app/views/entries/show.html.erb -->
