<!-- erbstart app/views/devise/shared/_links.html.erb -->
        <h3 class="text-center">Log in</h3>
          <ul class="flexbox-container container-fluid clearfix" style="display: flex; flex-direction: row; justify-content: center; padding: 0.5em; align-items: flex-end;">

            <div class="dropdown">
              <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon fa fa-question-circle" style="font-size: 32px; list-style: none; margin: 1em;" aria-hidden= "true"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li style="font-size: 14px; list-style: none;">
                  <%- if controller_name != 'sessions' %>
                  <%= link_to "Log in with email instead", new_session_path(resource_name) %>
                  <% end -%>
                </li>
                <li style="font-size: 14px; list-style: none;">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                  <% end -%>
                </li>
                <li style="font-size: 14px; list-style: none;">
                  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
                  <% end -%>
                </li>
                <li style="font-size: 14px; list-style: none;">
                  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
                  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
                  <% end -%>
                </li>
              </ul>
            </div>

          </ul>
<!-- erbend app/views/devise/shared/_links.html.erb -->
