<!-- erbstart app/views/submitted_requests/edit.html.erb -->
<h1>Editing Submitted Request</h1>

<%= render 'form', submitted_request: @submitted_request %>

<%= link_to 'Show', @submitted_request %> |
<%= link_to 'Back', submitted_requests_path %>
<!-- erbend app/views/submitted_requests/edit.html.erb -->
