<!-- erbstart app/views/submitted_requests/new.html.erb -->
<h1>New Submitted Request</h1>

<%= render 'form', submitted_request: @submitted_request %>

<%= link_to 'Back', submitted_requests_path %>
<!-- erbend app/views/submitted_requests/new.html.erb -->
