<!-- erbstart app/views/user_mailing_addresses/edit.html.erb -->
<h1>Editing User Mailing Address</h1>

<%= render 'form', user_mailing_address: @user_mailing_address %>

<%= link_to 'Show', @user_mailing_address %> |
<%= link_to 'Back', user_mailing_addresses_path %>
<!-- erbend app/views/user_mailing_addresses/edit.html.erb -->
