<!-- erbstart app/views/user_mailing_addresses/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_mailing_address_path(@user_mailing_address) %> |
<%= link_to 'Back', user_mailing_addresses_path %>
<!-- erbend app/views/user_mailing_addresses/show.html.erb -->
