@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
	.cqdNeY {
		padding-left: 0px !important;
	    text-align: center;
	    padding: 15px 0px;
	}
	.fkEdDE {
	    font-size: 42px !important;
	    line-height: 42px !important;
	}
	.kWWbmA {
	    padding: 15px !important;
	    background: #f9faff;
	}
	.cXlZkP {
	    width: 100% !important;
	    margin: 0px !important;
	}
	.lkLknB {
	    display: block !important;
	    margin-top: 25px !important;
	}
	.krbzqs {
	    font-size: 26px !important;
	    line-height: 30px !important;
	}
	.bOwobd{
		max-width:100% !important;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.cqdNeY {
		padding-left: 0px !important;
	    text-align: center;
	    padding: 15px 0px;
	}
	.bOwobd{
		max-width:100% !important;
	}
	.cXlZkP {
	    width: 225px !important;
	    margin: 15px !important;
	}
	.lkLknB{
		justify-content: center;
	}
	.kWWbmA {
	    padding: 65px 50px !important;
	    background: #f9faff;
	}
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1199px){
	.cqdNeY {
		padding-left: 0px !important;
	    text-align: center;
	    padding: 15px 0px;
	}
	.bOwobd{
		max-width:100% !important;
	}
	.cXlZkP {
	    width: 225px !important;
	    margin: 15px !important;
	}	
}