<!-- erbstart app/views/managed_accounts/edit.html.erb -->
<h1>Editing Managed Account</h1>

<%= render 'form', managed_account: @managed_account %>

<%= link_to 'Show', @managed_account %> |
<%= link_to 'Back', managed_accounts_path %>
<!-- erbend app/views/managed_accounts/edit.html.erb -->
