<!-- erbstart app/views/managed_accounts/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_managed_account_path(@managed_account) %> |
<%= link_to 'Back', managed_accounts_path %>
<!-- erbend app/views/managed_accounts/show.html.erb -->
