<!-- erbstart app/views/submittals/edit.html.erb -->
<h1>Editing Submittal</h1>

<%= render 'form', submittal: @submittal %>

<%= link_to 'Show', @submittal %> |
<%= link_to 'Back', submittals_path %>
<!-- erbend app/views/submittals/edit.html.erb -->
