<!-- erbstart app/views/submittals/new.html.erb -->
<h1>New Submittal</h1>

<%= render 'form', submittal: @submittal %>

<%= link_to 'Back', submittals_path %>
<!-- erbend app/views/submittals/new.html.erb -->
