<!-- erbstart app/views/submittals/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_submittal_path(@submittal) %> |
<%= link_to 'Back', submittals_path %>
<!-- erbend app/views/submittals/show.html.erb -->
