<!-- erbstart app/views/candidate_searches/edit.html.erb -->
<h1>Editing Candidate Search</h1>

<%= render 'form', candidate_search: @candidate_search %>

<%= link_to 'Show', @candidate_search %> |
<%= link_to 'Back', candidate_searches_path %>
<!-- erbend app/views/candidate_searches/edit.html.erb -->
