<!-- erbstart app/views/candidate_searches/new.html.erb -->
<h1>New Candidate Search</h1>

<%= render 'form', candidate_search: @candidate_search %>

<%= link_to 'Back', candidate_searches_path %>
<!-- erbend app/views/candidate_searches/new.html.erb -->
