<!-- erbstart app/views/jobs/show.html.erb -->
<div class="standard-page">
  <%= react_component("pages/CardinalJobs/CardinalJobs", currentUser: current_user) %>
</div>

<!-- erbend app/views/jobs/show.html.erb -->