<!-- erbstart app/views/job_searches/show_job_search_page.html.erb -->

<div class="standard-page">
  <%= react_component("pages/JobSearchPage/JobSearchPage", {}) %>
</div>

<!-- erbend app/views/job_searches/show_job_search_page.html.erb -->