<!-- erbstart app/views/user_contact_preferences/edit.html.erb -->
<h1>Editing User Contact Preference</h1>

<%= render 'form', user_contact_preference: @user_contact_preference %>

<%= link_to 'Show', @user_contact_preference %> |
<%= link_to 'Back', user_contact_preferences_path %>
<!-- erbend app/views/user_contact_preferences/edit.html.erb -->
