<!-- erbstart app/views/user_contact_preferences/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_contact_preference_path(@user_contact_preference) %> |
<%= link_to 'Back', user_contact_preferences_path %>
<!-- erbend app/views/user_contact_preferences/show.html.erb -->
