<!-- erbstart app/views/conversations/_latest_conversations.html.erb -->

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Inbox', conversations_path(box: 'inbox') %></li>
        <li><%= link_to 'Sent', conversations_path(box: 'sent') %></li>
        <li><%= link_to 'Trash', conversations_path(box: 'trash') %></li>
      </ul>
    </div>

    <div class="col-sm-9">
      <% if @box == 'trash' %>
        <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></p>
      <% end %>
    </div>
  </div>
<!-- erbend app/views/conversations/_latest_conversations.html.erb -->
