<!-- erbstart app/views/linkedin_profile_url_resources/new.html.erb -->
<h1>New Linkedin Profile Url Resource</h1>

<%= render 'form', linkedin_profile_url_resource: @linkedin_profile_url_resource %>

<%= link_to 'Back', linkedin_profile_url_resources_path %>
<!-- erbend app/views/linkedin_profile_url_resources/new.html.erb -->
