<!-- erbstart app/views/help_pages/recruiter_intro.html.erb -->
<div class="space-90"></div>
<div style="min-height: fit-content;">

  <div id="side-bar">
    
  </div>

  <div id="main-content">
    <h1>Hello <%= current_user.email %></h1>
    <div class="space-10"></div>
    <h3>If you can read this, then you're a member of the recruiting team at CardinalTalent. We're glad you're here!</h3>

    <p>Before you get started making your calls, submitting candidates, setting up phone and on-site interviews, and ultimately making placements of your candidates at some of Silicon Valley's top tech companies, you may wish to familiarize yourself with the resources available to you.</p>

    <hr>

    <h4>How to get started</h4>

    <ul>
      <li>Make a call sheet to keep track of your outreach to candidates</li>
      <li>Review the CardinalTalent client spreadsheet that will be shared to you</li>
      <li>After you have been assigned 2-3 roles to source for, research the company in depth, including the company website and Crunchbase profile</li>
    </ul>

    <hr>

    <h4>Important things to learn about the company</h4>

    <ul>
      <li>Location of the company offices</li>
      <li>Stage of start-up funding (Series A, etc.) (if applicable)</li>
      <li>Who are their biggest investors? Any exciting names associated with the company?</li>
      <li>How many employees do they have? How big is the team the candidate would work join?</li>
    </ul>

    <hr>

    <h4>Important things to learn about the position and role</h4>

    <ul>
      <li>Would you characterize the role as junior, mid-level, or senior?</li>
      <li>Which skills or programming languages are required to be successful?</li>
      <li>Which skills or programming languages are considered nice to have?</li>
      <li>What is the salary range being offered?</li>
      <li>Is the position for full-time employment (FTE) or on a contract basis?</li>
      <li>Is the position full-time on-site, partially remote, full-time remote, or something else?</li>
      <li>What are the work authorization restrictions for this position?</li>
    </ul>

    <hr>

    <h4>Useful sources available to you for sourcing candidates</h4>

    <ul>
      <li>Angel.co</li>
      <li>Hiretual.com</li>
      <li>Monster</li>
      <li>CareerBuilder</li>
      <li>Indeed</li>
      <li>Craigslist</li>
      <li>Dice</li>
    </ul>

    <hr>

    <h4>What's the next?</h4>

    <ul>
      <li>After researching the companies, the available roles, and where to find candidates, you are now ready to get started.</li>
      <li>You should call candidates that are a fit for the specific roles, and record the result of the conversation on the call sheet template we have emailed you.</li>
      <li>Regardless of whether the candidate is interested or not, you should record all work done on this spreadsheet. We will review some of the information you need to collect from the candidate during your phone conversation below.</li>
    </ul>

    <hr>

    <h4>Interested Candidates</h4>

    <ul>
      <li>If the candidate you spoke to is interested in the position, you should then submit them to the appropriate account manager in charge of that client.</li>
      <li>Client and account manager information can be found on the CardinalTalent client spreadsheet that was shared with you.</li>
      <li>Contact information for account managers can be found on the CardinalTalent client spreadsheet that was shared with you. (Check the Contacts tab.)</li>
      <li>You will need to submit the candidates with as much of the following information as you can provide:</li>
      <ul>
        <li>Work authorization status (citizenship, green card status, H1B status, etc.)</li>
        <li>Salary expectations (usually a range)</li>
        Candidate contact information (phone number is necessary; other details, such as time zone, website resources, GitHub URL, LinkedIn URL, etc., are also nice to have)</li>
        <li>At least 2-3 dates and times when the candidate would be available for a phone interview</li>
        <li>Up-to-date resume</li>
      </ul>
    </ul>

    <hr>

    <h4>When submitting candidates, be prepared to follow-up!</h4>

    <ul>
      <li>Set aside time to follow-up with your candidates at every stage of the process.</li>
      <li>Please CC admin@cardinalhire.com on the email submittal.</li>
      <li>And be sure to include the candidate background information described above!</li>
    </ul>

    <hr>

    <h4>Metrics for succcess</h4>

    <ul>
      <li>You can be expected to make 20-30 calls per day! Tracking calls is easier if you do it immediately in the moment, instead of trying to collect the details of a large number of calls after the fact.</li>
      <li>Submitting 2-4 candidates per day</li>
      <li>Confirming 3-5 interviews per day</li>
    </ul>

    <p>The above metrics are only guidelines, but they correlate with meeting the most important target of all:</p>

    <ul>
      <li>1-2 placements per month!</li>
    </ul>
  </div>
</div>
<div class="space-10"></div>
<!-- erbend app/views/help_pages/recruiter_intro.html.erb -->
