<!-- erbstart app/views/workflows/new.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>New Workflow</h1>

<%= render 'form', workflow: @workflow %>

<%= link_to 'Back', workflows_path %>

</div>

<!-- erbend app/views/workflows/new.html.erb -->
