<!-- erbstart app/views/archive_states/edit.html.erb -->
<h1>Editing Archive State</h1>

<%= render 'form', archive_state: @archive_state %>

<%= link_to 'Show', @archive_state %> |
<%= link_to 'Back', archive_states_path %>
<!-- erbend app/views/archive_states/edit.html.erb -->
