<!-- erbstart app/views/archive_states/new.html.erb -->
<h1>New Archive State</h1>

<%= render 'form', archive_state: @archive_state %>

<%= link_to 'Back', archive_states_path %>
<!-- erbend app/views/archive_states/new.html.erb -->
