<!-- erbstart app/views/linkedin_profile_positions/edit.html.erb -->
<h1>Editing Linkedin Profile Position</h1>

<%= render 'form', linkedin_profile_position: @linkedin_profile_position %>

<%= link_to 'Show', @linkedin_profile_position %> |
<%= link_to 'Back', linkedin_profile_positions_path %>
<!-- erbend app/views/linkedin_profile_positions/edit.html.erb -->
