<!-- erbstart app/views/linkedin_profile_positions/new.html.erb -->
<h1>New Linkedin Profile Position</h1>

<%= render 'form', linkedin_profile_position: @linkedin_profile_position %>

<%= link_to 'Back', linkedin_profile_positions_path %>
<!-- erbend app/views/linkedin_profile_positions/new.html.erb -->
