<!-- erbstart app/views/pages/index/side_menu/_no_login_required_links.html.erb -->
<li id="job_type">
  <%= link_to job_type_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Find a job_type buddy
  <% end %>
</li>

<li id="study">
  <%= link_to study_posts_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> Find a study buddy
  <% end %>
</li>

<li id="team">
  <%= link_to team_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> Find a team member
  <% end %>
</li>
<!-- erbend app/views/pages/index/side_menu/_no_login_required_links.html.erb -->
