<!-- erbstart app/views/task_list_items/edit.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>Editing Task List Item</h1>

<%= render 'form', task_list_item: @task_list_item %>

<%= link_to 'Show', @task_list_item %> |
<%= link_to 'Back', task_list_items_path %>

</div>

<!-- erbend app/views/task_list_items/edit.html.erb -->
