<!-- erbstart app/views/task_list_items/show.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<%= link_to 'Edit', edit_task_list_item_path(@task_list_item) %> |
<%= link_to 'Back', task_list_items_path %>

</div>

<!-- erbend app/views/task_list_items/show.html.erb -->
