<!-- erbstart app/views/accrediting_institutions/edit.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>Editing Accrediting Institution</h1>

<%= render 'form', accrediting_institution: @accrediting_institution %>

<%= link_to 'Show', @accrediting_institution %> |
<%= link_to 'Back', accrediting_institutions_path %>

</div>

<!-- erbend app/views/accrediting_institutions/edit.html.erb -->
