<!-- erbstart app/views/client_accounts/new.html.erb -->
<h1>New Client Account</h1>

<%= render 'form', client_account: @client_account %>

<%= link_to 'Back', client_accounts_path %>
<!-- erbend app/views/client_accounts/new.html.erb -->
