<!-- erbstart app/views/client_accounts/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_client_account_path(@client_account) %> |
<%= link_to 'Back', client_accounts_path %>
<!-- erbend app/views/client_accounts/show.html.erb -->
