<!-- erbstart app/views/calls/show.html.erb -->
<div class="space-90"></div>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
<!-- erbend app/views/calls/show.html.erb -->
