<!-- erbstart app/views/users/_avatar.html.erb -->
<div class=“avatar-circle”>
  <span class="initials”>
    <%= user.username[0..1].upcase %>
  </span>
</div>
<!-- erbend app/views/users/_avatar.html.erb -->
