<!-- erbstart app/views/users/_modal_introduction.html.erb -->
<div>
  <%= link_to 'introduction', users_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', 'id' => 'introduction', 'style' => 'display: none' }  %>
</div>
<!-- erbend app/views/users/_modal_introduction.html.erb -->
