<!-- erbstart app/views/users/_small_card.html.erb -->
<div class="row">

  <div class="col-6 col-md-4">

    

        <div class="papel clearfix">

          <div class="container-fluid">

          </div>

        </div>

    

  </div>

  <div class="col-12 col-sm-6 col-md-8">

    

        <div class="papel clearfix">

          <div class="container-fluid">

          </div>

        </div>

    

  </div>

</div>
<!-- erbend app/views/users/_small_card.html.erb -->
