<!-- erbstart app/views/placements/new.html.erb -->
<h1>New Placement</h1>

<%= render 'form', placement: @placement %>

<%= link_to 'Back', placements_path %>
<!-- erbend app/views/placements/new.html.erb -->
