<!-- erbstart app/views/placements/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_placement_path(@placement) %> |
<%= link_to 'Back', placements_path %>
<!-- erbend app/views/placements/show.html.erb -->
