.modal {
  left: 50%;
  right: auto;
  top: 200px;
  bottom: 2rem;
  width: 42rem;
  height: unset;
  max-width: 100%;
  border-radius: 1.5rem;
  z-index: 9001;
  padding: 1rem;
  margin-left: -21rem;
}
