<!-- erbstart app/views/followed_candidates/edit.html.erb -->
<h1>Editing Followed Candidate</h1>

<%= render 'form', followed_candidate: @followed_candidate %>

<%= link_to 'Show', @followed_candidate %> |
<%= link_to 'Back', followed_candidates_path %>
<!-- erbend app/views/followed_candidates/edit.html.erb -->
