<!-- erbstart app/views/followed_candidates/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_followed_candidate_path(@followed_candidate) %> |
<%= link_to 'Back', followed_candidates_path %>
<!-- erbend app/views/followed_candidates/show.html.erb -->
