<!-- erbstart app/views/linkedin_profile_educations/new.html.erb -->
<h1>New Linkedin Profile Education</h1>

<%= render 'form', linkedin_profile_education: @linkedin_profile_education %>

<%= link_to 'Back', linkedin_profile_educations_path %>
<!-- erbend app/views/linkedin_profile_educations/new.html.erb -->
