<!-- erbstart app/views/company_positions/new.html.erb -->
<h1>New Company Position</h1>

<%= render 'form', company_position: @company_position %>

<%= link_to 'Back', company_positions_path %>
<!-- erbend app/views/company_positions/new.html.erb -->
