<!-- erbstart app/views/linkedin_profile_publications/new.html.erb -->
<h1>New Linkedin Profile Publication</h1>

<%= render 'form', linkedin_profile_publication: @linkedin_profile_publication %>

<%= link_to 'Back', linkedin_profile_publications_path %>
<!-- erbend app/views/linkedin_profile_publications/new.html.erb -->
