<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @params[:applicant].name %>!
    </p>
    <p>
      You were successfully applied to the job <%= @params[:job].name %>! <br>

      Cheers,<br>
      Olivia
    </p>
  </body>
</html>
