<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @user.name %>,</p>
    <p>
      Your request to create an account on CardinalTalent has been approved! <br>
      Please update your profile information here
      <%= @url %>.<br>
      Regards, <br>
      CardinalTalent Team
    </p>
  </body>
</html>
