<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi <%= @organization.owner.name %>,</p>
    <p>
      Your request to create an organization on CardinalTalent has been approved! <br>
      Regards, <br>
      CardinalTalent Team
    </p>
  </body>
</html>
