<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi Admin!
    </p>
    <p>
      <%= @user.email %> has requested access to create an account under the following role: <%= @role %>.
      Please review their request and take the appropriate actions.
    </p>
  </body>
</html>
