<!-- erbstart app/views/user_profiles/new.html.erb -->
<h1>New User Profile</h1>

<%= render 'form', user_profile: @user_profile %>

<%= link_to 'Back', user_profiles_path %>
<!-- erbend app/views/user_profiles/new.html.erb -->
