<!-- erbstart app/views/pages/index/main_content/_no_posts.html.erb -->
<div class="text-center">Currently there are no published posts</div>
<!-- erbend app/views/pages/index/main_content/_no_posts.html.erb -->
