<!-- erbstart app/views/call_sheets/new.html.erb -->
<div class="space-90"></div>

<div style="min-height: fit-content;">

  <div id="side-bar">

    

  </div>

  <div id="main-content">

    <h1>New status update</h1>
    <br />
    <h4>Update for called, submitted, interviewed, and placed candidates</h4>
    <br />

    <%= render 'form', call_sheet: @call_sheet %>

  </div>

</div>
<!-- erbend app/views/call_sheets/new.html.erb -->
