<!-- erbstart app/views/phone_numbers/edit.html.erb -->
<h1>Editing Phone Number</h1>

<%= render 'form', phone_number: @phone_number %>

<%= link_to 'Show', @phone_number %> |
<%= link_to 'Back', phone_numbers_path %>
<!-- erbend app/views/phone_numbers/edit.html.erb -->
