<!-- erbstart app/views/ownerships/new.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>New Ownership</h1>

<%= render 'form', ownership: @ownership %>

<%= link_to 'Back', ownerships_path %>
</div>

<!-- erbend app/views/ownerships/new.html.erb -->
