<!-- erbstart app/views/ownerships/show.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Back', ownerships_path %>
</div>

<!-- erbend app/views/ownerships/show.html.erb -->
