<!-- erbstart app/views/private/messages/message/_new_date.html.erb -->
<div class="messages-date">
  <span><%= @message.created_at.to_date %></span> 
</div>
<!-- erbend app/views/private/messages/message/_new_date.html.erb -->
