<!-- erbstart app/views/tags/new.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>New Tag</h1>

<%= render 'form', tag: @tag %>

<%= link_to 'Back', tags_path %>

</div>

<!-- erbend app/views/tags/new.html.erb -->
