$default-font-family: Avenir, 'Lato', sans-serif;
$primary-blue: #4c68ff;
$primary-blue-highlight: #6c88ff;
$secondary-blue: #5666bb;
$faded-blue-bg: #ebedfa;
$faded-blue-bg-highlight: #edf1ff;
$focus-shadow: 0 0 0 0.1rem rgba(38, 143, 255, 0.5);
$serious-blue: #465189;
$component-border: 1px solid #c2c8f0;
$default-bg-color: white;
$secondary-bg-color: hsl(210, 20%, 96%);
$cardinal-bg: #334d66;
$light-cardinal-bg: #446687;
$passive-blue-bg: hsl(209, 20%, 90%);
$passive-bg: hsl(207deg, 31%, 94%);
$hover-highlight-1: hsl(202deg, 100%, 98%);
$hover-highlight-2: hsl(201deg, 100%, 95%);
$darken-l1: rgba(0, 0, 0, 0.05);
$darken-l2: rgba(0, 0, 0, 0.1);
$darken-l3: rgba(0, 0, 0, 0.2);
$darken-l4: rgba(0, 0, 0, 0.4);
$darken-l5: rgba(0, 0, 0, 0.8);
$brighten-l5: rgba(255, 255, 255, 0.9);
$font-family-base: 'Lato', arial, helvetica, sans-serif;
$default-font: 'Lato', arial, helvetica, sans-serif;
$navbar-default-link-color: #f00;
$navbar-default-link-hover-color: #0f0;
$icon-size-md: 1.2rem;
$gap-l1: 0.5rem;
$gap-l2: 1rem;
$note-yellow: #faffbe;
$note-blue: #e2f4ff;
$happy-green: #90e690;
$import-job-font: Avenir;
