.candidate-class{
    background-color: white;
    width: 100% !important;
}
.expended-color-active, .btn-expander:focus-visible{
    background-color: #f8f9ff !important;
    width: 100% !important;
}
.accordion{
    margin-bottom: 3px;
}
.candidate-filter{
    background-color: #F8F9FF;
    width: 243px;
}
