.clear-filter{ 
  background-color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  color: #474953;
}

.text-font {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
