<!-- erbstart app/views/academic_honors/edit.html.erb -->
<div class="space-180"></div>


  <div id="main-content">
<h1>Editing Academic Honor</h1>

<%= render 'form', academic_honor: @academic_honor %>

<%= link_to 'Show', @academic_honor %> |
<%= link_to 'Back', academic_honors_path %>

</div>

<!-- erbend app/views/academic_honors/edit.html.erb -->
