.ellipsesPill {
  border-left: unset;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 0.8rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}

.filterBubble{
  fontS-size: 1rem;
  padding: 0.2rem 0.4rem,;
  background-color: #E6E9FC;
  border-radius: 20px;
  margin-bottom: 5px;
  width: fit-content;
  padding: 5px 5px 6px 4px !important;
  border: 1px solid #98A3D9;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}