<!-- erbstart app/views/private/conversations/conversation/request_status/_sent_by_current_user.html.erb -->
<div class="contact-request-status">
  <div class="pending-request">
    Contact request is pending
  </div>
</div>
<!-- erbend app/views/private/conversations/conversation/request_status/_sent_by_current_user.html.erb -->
