<!-- erbstart app/views/flagged_candidates/edit.html.erb -->
<h1>Editing Flagged Candidate</h1>

<%= render 'form', flagged_candidate: @flagged_candidate %>

<%= link_to 'Show', @flagged_candidate %> |
<%= link_to 'Back', flagged_candidates_path %>
<!-- erbend app/views/flagged_candidates/edit.html.erb -->
