<!-- erbstart app/views/user_educations/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_education.user %>
</p>

<%= link_to 'Edit', edit_user_education_path(@user_education) %> |
<%= link_to 'Back', user_educations_path %>
<!-- erbend app/views/user_educations/show.html.erb -->
