<!-- erbstart app/views/message_mailer/new_message_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a new message:</h1>

    <h2><%= @subject %></h2>
    <blockquote>
      <p>
        <%= raw @message.body %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to root_url, root_url %> and go to your inbox for more info.
    </p>
  </body>
</html>
<!-- erbend app/views/message_mailer/new_message_email.html.erb -->
