<!-- erbstart app/views/linkedin_industries/edit.html.erb -->
<h1>Editing Linkedin Industry</h1>

<%= render 'form', linkedin_industry: @linkedin_industry %>

<%= link_to 'Show', @linkedin_industry %> |
<%= link_to 'Back', linkedin_industries_path %>
<!-- erbend app/views/linkedin_industries/edit.html.erb -->
