<!-- erbstart app/views/linkedin_industries/new.html.erb -->
<h1>New Linkedin Industry</h1>

<%= render 'form', linkedin_industry: @linkedin_industry %>

<%= link_to 'Back', linkedin_industries_path %>
<!-- erbend app/views/linkedin_industries/new.html.erb -->
