<!-- erbstart app/views/user_experiences/edit.html.erb -->
<h1>Editing User Experience</h1>

<%= render 'form', user_experience: @user_experience %>

<%= link_to 'Show', @user_experience %> |
<%= link_to 'Back', user_experiences_path %>
<!-- erbend app/views/user_experiences/edit.html.erb -->
