<!-- erbstart app/views/employer_company_profiles/_form.html.erb -->
<%= simple_form_for(@employer_company_profile, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<!-- erbend app/views/employer_company_profiles/_form.html.erb -->
