<!-- erbstart app/views/employer_company_profiles/edit.html.erb -->
<h1>Editing Employer Company Profile</h1>

<%= render 'form', employer_company_profile: @employer_company_profile %>

<%= link_to 'Show', @employer_company_profile %> |
<%= link_to 'Back', employer_company_profiles_path %>
<!-- erbend app/views/employer_company_profiles/edit.html.erb -->
