<!-- erbstart app/views/employer_company_profiles/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_employer_company_profile_path(@employer_company_profile) %> |
<%= link_to 'Back', employer_company_profiles_path %>
<!-- erbend app/views/employer_company_profiles/show.html.erb -->
