<!-- erbstart app/views/submitted_candidates/edit.html.erb -->
<h1>Editing submitted_candidate</h1>

<%= render 'form', submitted_candidate: @submitted_candidate %>

<%= link_to 'Show', @submitted_candidate %> |
<%= link_to 'Back', submitted_candidates_path %>
<!-- erbend app/views/submitted_candidates/edit.html.erb -->
