<!-- erbstart app/views/submitted_candidates/new.html.erb -->
<h1>New submitted_candidate</h1>

<%= render 'form' %>

<%= link_to 'Back', submitted_candidates_path %>
<!-- erbend app/views/submitted_candidates/new.html.erb -->
