<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">Content</th>
      <th scope="col">Source Address</th>
    </tr>
  </thead>
  <tbody>
  	<% @campaigns.each do |campaign| %>
    <tr>
      <th scope="row"><%= campaign.id %></th>
      <td><%= link_to(campaign.subject, campaign_path(campaign)) %></td>
      <td><%= truncate(campaign.content, length:20) %></td>
      <td><%= campaign.source_address %></td>
    </tr>
    <% end %>
  </tbody>
</table>