<!-- erbstart app/views/onsite_interviews/edit.html.erb -->
<h1>Editing Onsite Interview</h1>

<%= render 'form', onsite_interview: @onsite_interview %>

<%= link_to 'Show', @onsite_interview %> |
<%= link_to 'Back', onsite_interviews_path %>
<!-- erbend app/views/onsite_interviews/edit.html.erb -->
