<!-- erbstart app/views/onsite_interviews/new.html.erb -->
<h1>New Onsite Interview</h1>

<%= render 'form', onsite_interview: @onsite_interview %>

<%= link_to 'Back', onsite_interviews_path %>
<!-- erbend app/views/onsite_interviews/new.html.erb -->
