<!-- erbstart app/views/onsite_interviews/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_onsite_interview_path(@onsite_interview) %> |
<%= link_to 'Back', onsite_interviews_path %>
<!-- erbend app/views/onsite_interviews/show.html.erb -->
