<!-- erbstart app/views/contact_sources/index.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>Contact Sources</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_sources.each do |contact_source| %>
      <tr>
        <td><%= link_to 'Show', contact_source %></td>
        <td><%= link_to 'Edit', edit_contact_source_path(contact_source) %></td>
        <td><%= link_to 'Destroy', contact_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Source', new_contact_source_path %>

</div>

<!-- erbend app/views/contact_sources/index.html.erb -->
