<!-- erbstart app/views/contact_sources/new.html.erb -->
<div class="space-180"></div>

<nav>
  <div id="side-bar">
    <div class="space-40"></div>
    
  </div>
</nav>


  <div id="main-content">
<h1>New Contact Source</h1>

<%= render 'form', contact_source: @contact_source %>

<%= link_to 'Back', contact_sources_path %>

</div>

<!-- erbend app/views/contact_sources/new.html.erb -->
