<!-- erbstart app/views/searches/_no_results.html.erb -->
<div class="container-fluid">
  <div class="card results-area fill-height-card">
    <div class="card-block">
      <h4 class="card-title">No search results</h4>
      <p class="">No people were found that match your criteria. Would you try another set of search criteria, or try again later?</p>
      <p class="">Or check out the current job listings instead on our Careers page.</p>
      <a href="<%= link_to 'Careers', welcome_careers_path %>" class="btn btn-primary">Careers</a>
    </div>
  </div>
</div>
<!-- erbend app/views/searches/_no_results.html.erb -->
