<!-- erbstart app/views/searches/_show_paginations.html.erb -->
<!--<%="start: "+ __FILE__ %>-->
<% unless @people.blank? %>
  <div class="container" style="background-color: white">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12" style="border: 3px solid #eee; border-top: 1px solid #eee; box-shadow: 0 0 20px #eee;">
        <div class="pagination" style="width: 100%;" style="border: 3px solid #eee; border-top: 1px solid #eee; box-shadow: 0 0 20px #eee;">
          <div class="total-candidates" style="width: 100%;" style="border: 3px solid #eee; border-top: 1px solid #eee; box-shadow: 0 0 20px #eee;">
            <%= page_entries_info(@people, entry_name: "matching candidate") %><br/>
            <%= paginate(@people) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!--<%="end: "+ __FILE__ %>-->
<!-- erbend app/views/searches/_show_paginations.html.erb -->
