<!-- erbstart app/views/devise/mailer/reset_password_instructions.html.erb -->
<p>Hello <%= @resource.email %>!</p>

<p>You are receiving this email because you requested a password reset. Click the link below to set a new password:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, email: @resource.email, reset_password_token: @token) %></p>

<p>If you did not make this request, please ignore this email and your password will not change.</p>

<div style="display: inline-flex;">
	<img src="<%= image_path("mailerfooterlogo.png") %>" alt="" style="max-width: 120px;">
	<div style="line-height: 25px; margin-top: 5px; margin-left: 20px;">Cheers, <br />
Customer Support at Cardinal Talent</div>
</div>
<!-- erbend app/views/devise/mailer/reset_password_instructions.html.erb -->