<!-- erbstart app/views/messengers/index/_conversation.html.erb -->
<div class="col-sm-10">
  <div class="conversation">
    <div class="start-conversation">
      <div>
        <i class="fa fa-inbox" aria-hidden="true"></i><br>
        Open a conversation
      </div>
    </div>
  </div>
</div>
<!-- erbend app/views/messengers/index/_conversation.html.erb -->
