<!-- erbstart app/views/application/_guest_navbar.html.erb -->



<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <div class="nav-link btn btn-primary" style="float:left;margin-left: 0.5em; padding: 4px; margin-right: 0.5em; color: #fff; background-color: #CC0000; border-color: #CC0000; align-self: center; align-content: center;">
      <span>Sign Out</span></div>
  <% end %>
</li>
<!-- erbend app/views/application/_guest_navbar.html.erb -->
