<!-- erbstart app/views/application/_my_candidates.html.erb -->
<li>
  <%= link_to user_searched_candidates_path(current_user), style: 'text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.1); align-self: flex-end;', alt: 'Just for you' do %>
    <div class="nav-link" style="float:left;"><span>
      My Candidates
    </span></div>
  <% end %>
</li>
<!-- erbend app/views/application/_my_candidates.html.erb -->
