<!-- erbstart app/views/application/_profile_edit_link.html.erb -->
<li>
  <%= link_to '/users/edit',style: 'text-shadow: 1px 1px 2px rgb(255, 255, 255, 0.1); align-self: flex-end;', id:'profile' do %>
    <div class="nav-link" style="float:left;">
      <span>Profile</span></div>
  <% end %>
</li>
<!-- erbend app/views/application/_profile_edit_link.html.erb -->