<!-- erbstart app/views/application/_settings.html.erb -->
<li>
  <%= link_to url_for(edit_user_registration_path), style: 'align-self: flex-end;', alt: 'Settings' do %>

    <div class="nav-link" style="float:right;"><span>Settings</span></div>
  <% end %>
</li>
<!-- erbend app/views/application/_settings.html.erb -->
