<!-- erbstart app/views/application/_subscribe.html.erb -->
<li>

  <%= link_to 'https://groups.google.com/forum/#!forum/cardinalhire-tech', target: '_blank', style: 'align-self: flex-end;', alt: 'subscribe to formum' do %>
    <div class="nav-link" style="float:right; "><span>Users' Forum</span></div>
  <% end %>
</li>
<!-- erbend app/views/application/_subscribe.html.erb -->