@import '../../../../styles/var';

.skillTitle{
    line-height: 1.5;
}
.skillBadge{
    padding: 7px 18px 7px 18px;
    white-space: break-spaces;
    background: linear-gradient(95.72deg, #E6EBFF 0%, #DBE2FF 53.83%, #D5D7FF 109.96%);
    border-radius: 20px;
    margin-bottom: 11px;
}
.skillLabel{
    color: #6470AF !important;
    margin-bottom: 0px !important;
}
.table {
    margin-top: 2rem;

    tbody tr:hover {
        background-color: $faded-blue-bg;
        cursor: pointer;
    }
}
.activityFieldTitle{
    cursor: pointer;
    margin-bottom: 0px;
}
.candidateTable{
    td{
        border-top: none !important;
    }
    th{
        border-bottom: none !important;
    }
    tbody tr:hover{
        background-color: transparent;
    }
}
.labelHeader{
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4c5480;  
}


.th {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4c5480;
    border-top: none !important;
    border-bottom: 2px solid #ebedfa !important;
}

.td {
    max-width: 15rem;
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #586293;
    border-top: 2px solid #ebedfa !important;
}

.tdLine {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.candidateName {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    color: #465189;
}

.bulkSelector {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.4rem;
    background-color: #ebedfa;
    white-space: nowrap;
    border-radius: 5px;
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}

.bulkSelectorInput {
    min-height: unset !important;
    width: 2rem;
    margin: 0 0.25rem;
    background-color: #d7dbf3 !important;
    border-radius: 2px;
}

.candidateCheckbox {
    cursor: pointer;
}

.messageTHContainer {
    min-width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.tableFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tdEllipsis {
    max-width: 15rem;
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #586293;
    border-top: 2px solid #ebedfa !important;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.subTitle {
    font-size: 18px;
    line-height: 25px;
}

.candidateProfileCard{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;  
    .cardBody{
        margin: -99px 91px 12px 144px;
    }
    .badge{
        margin-left: 10px;
    }

    .cardBodyName{
       cursor: pointer;
    }
}

.candidateProfileImage{
    vertical-align: middle;
    height: 79px;
    border-radius: 50%;
    max-width: 85px;
    float: left ;
    margin: 0px 27px;
}
.descriptionPage{
    font-family:  $default-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.moveAtsButton {
    position: absolute;
    left: 24%;
    top: 29px;
    border-radius: 5px;
    padding: 3px 4px;
    background: #4C68FF;
    font-family: Avenir, "Lato", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    @media (max-width: 1541px) {
        right: 13%;
    }
    @media (max-width: 1340px) {
        right: 13%;
    }
}

.moveAtsLeftButton {
    position: absolute;
    left: 30%;
    top: 33px;
    border-radius: 5px;
    padding: 3px 4px;
    background: #4C68FF;
    font-family: Avenir, "Lato", sans-serif;
    font-style: normal;
    color: #FFFFFF;
    @media (max-width: 1541px) {
        right: 13%;
    }
    @media (max-width: 1340px) {
        right: 13%;
    }
}

.moveStageButton {
    position: absolute;
    left: 43%;
    top: 172px;
    border-radius: 6px;
    padding: 3px 4px;
    background: #4c68ff;
    font-family: Avenir, "Lato", sans-serif;
    font-style: normal;
    color: #ffffff;
    @media (max-width: 1541px) {
        right: 13%;
    }
    @media (max-width: 1340px) {
        right: 13%;
    }
}

.applicationsCount{
    color: #f8f9fa;
    background-color: #4e69fa;
    border-radius: 8px;
    position: absolute;
    margin-left: 2px;
    margin-top: 1px;
}
