<!-- erbstart app/views/posts/show/contact_user/_already_in_touch.html.erb -->
<div class="contacted-user">
  You are already in touch with this user
</div>
<!-- erbend app/views/posts/show/contact_user/_already_in_touch.html.erb -->
