<!-- erbstart app/views/after_signup/step_one.html.erb -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">

This is step one.  Don't come here.

  </div>

  <div class="col-md-1">
  </div>
</div>
<!-- erbend app/views/after_signup/step_one.html.erb -->
