<!-- erbstart app/views/phone_interviews/edit.html.erb -->
<h1>Editing Phone Interview</h1>

<%= render 'form', phone_interview: @phone_interview %>

<%= link_to 'Show', @phone_interview %> |
<%= link_to 'Back', phone_interviews_path %>
<!-- erbend app/views/phone_interviews/edit.html.erb -->
