<!-- erbstart app/views/phone_interviews/show.html.erb -->
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_phone_interview_path(@phone_interview) %> |
<%= link_to 'Back', phone_interviews_path %>
<!-- erbend app/views/phone_interviews/show.html.erb -->
